@media ( max-width: 1500px) {
  .container {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1300px) {
  .container{
    animation: shrink 1s forwards;
  }
}
@media (max-width: 700px) {
  .container{
    animation: shrink-more 1s forwards;
  }
}
@font-face {
  font-family: "PretendardB";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/Pretendard-Black.woff"); 
} 
@font-face {
  font-family: "PretendardEB";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Pretendard-ExtraBold.woff"); 
} 
@font-face {
  font-family: "PretendardM";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Pretendard-Medium.woff"); 
} 
@font-face {
  font-family: "PretendardR";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Pretendard-Regular.woff"); 
} 




@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

@keyframes shrink-more {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
#wrap{
  min-height: calc(100vh - 505px);
	position: relative;
}
footer {
  height: 505px ;
}