
.prevButton {
    position: absolute;
    top: 130px;
    left: -43px;
    transform: translateY(-50%);
    width: 30px;
    height: 50px;
    background: #ffffff;

    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.nextButton {
    position: absolute;
    top: 130px;
    right: -43px;
    transform: translateY(-50%);
    width: 30px;
    height: 50px;
    background: #ffffff;

    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.absolute {
    position: absolute;
}