
.prevButton {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #ffffff;
    opacity: 0.6;
    border-radius: 30px;
    display: flex; 
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.nextButton {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #ffffff;
    opacity: 0.6;
    border-radius: 30px;
    display: flex; 
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.absolute {
    position: absolute;
}