.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color:black;
}

.top {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

/* 스티키 스타일 */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; /* 변경 가능 */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* 변경 가능 */
  z-index: 1000;
}