.commentForm {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  padding: 15px 30px;
  border: 1px solid #ccc;
  width: 1200px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.commentFormLabel {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.commentFormTextarea {
  width: 100%;
  height: 100px;
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  border-radius: 10px;

  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  padding: 15px 10px;
}

.commentFormButton {
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  border-radius: 10px;
  font-family: Pretendard;
  font-size: 13px;
}

.submittedData {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.submittedDataImg {
  max-width: 100px;
  margin: 5px;
}

h1 {
  width: 92px;
  height: 30px;
  color: #000;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

/* 코멘트 목록 출력 스타일 */
.commentItem {
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  padding: 15px 0px;
  font-family: Pretendard;
  margin-bottom: 80px;
}

.commentItem div {
  margin-bottom: 5px;
}

.commentFormButton2 {
  padding: 5px 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: auto;
  border-radius: 5px;
  font-family: Pretendard;
  font-size: 13px;
}

.commentImagePreviewContainer {
  display: flex;
  flex-wrap: wrap;
}

.commentImagePreview {
  max-width: 100vh;
  max-height: 100vh;
  margin: 5px;
}