.formSubmit{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  width: 28rem;
  border: none;
  height: 3.5rem;
  border-bottom: 1px solid #e5e5e5;
}
.submit {
  position: absolute;
  width: 5rem;
  height: 1.875rem;
  background-color: #000000;
  color: #fff;
  font-family: "PretendardR";
  font-size: 13px;
  text-align: center;
  border-radius: 0.3125rem;
  border: none;
  cursor: pointer;
  right: 1rem;
}
.submit:hover {
  background-color: #000000;
}

.control {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .control input[id="passworedConfirm"]{
    position: absolute;
  }
  
  .control label {
    display: block;
    color: #616161;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    display: block;
    width: 23.125rem;
    height: 3.125rem;
    background: #FFF;
    font-family: "PretendardR";
    font-size: 15px;
    line-height: normal;
    color: #959595;
    border-radius: 4px;
    padding: 0.25rem;
    padding-left: 3rem;
    border: 0.5px solid #ccc;
    justify-content: center;
    align-items: center;
  }
  
  .icon{
    position: absolute;
    left: 1rem;
    color: #959595;
  }
